
.wordgame {
  height: 20rem;
}

.wins-loses {
  background-color: red;
}

.timer {
  background-color: purple;
}


.game-play {
  height: 20rem;
}

.wins-loses {
  height: 15rem;
  width: 62%;
}

.timer {
  height: 5rem;
}

